@import "../../App/config.module.css";

.questionsContainer {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  /* padding: 1vh; */
}

.questions__buttonsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.5vw;
  position: relative;
  bottom: 1vh;
}

.questions__title {
  position: relative;
  bottom: 3vh;
  font-family: var(--titleFont);
}

.questions__countdownTimer {
  position: relative;
  bottom: 5vh;
}

.questions__progressBar {
  position: relative;
  /* top: 3vh; */
}

.questions__loadingIndicator {
  font-family: var(--loadingIndicatorFont);
}
