@import "../../App/config.module.css";

.menu {
  display: grid;
  grid-gap: 3vh;
  grid-template-columns: auto;
}

.menu__title {
  font-family: var(--titleFont);
  /* color: var(--pink); */
}

/* .menu__input {
  width: 40vw;
} */

.menu__loadingIndicator {
  font-family: var(--loadingIndicatorFont);
}

@media only screen and (min-width: 1000px) {
  .menu__input {
    width: 30vw;
  }
}

@media only screen and (min-width: 2000px) {
  .menu__input {
    width: 20vw;
  }
}

.menu__itemContainer {
  margin: auto;
}

.menu__itemContainerForSetTimeLimit {
  position: relative;
  left: 0.7vw;
}
