.menu {
  display: grid;
  grid-gap: 3vh;
  grid-template-columns: auto;
  /* margin: auto; */
}

.menu__item_left {
  clear: both;
  margin: auto;
}

.menu__item_centered {
  clear: both;
  margin: auto;
  /* display: flex;
  justify-content: center;
  width: 100%;
  align-items: center; */
}
